#progress-bar_left--0 {
    width: 20%;
}

#progress-bar_right--0 {
    width: 80%;
}

#progress-bar_left--0 {
    width: 20%;
}

#progress-bar_right--0 {
    width: 80%;
}

#progress-bar_left--0 {
    width: 20%;
}

#progress-bar_right--0 {
    width: 80%;
}

.active {
    background-color: gray;
}